*{
    box-sizing: border-box;
    font-family: '標楷體';
    font-weight: 500;
}
.title{
    text-align: center;
    font-size: 60px;
    margin: 20px 0;
    text-shadow: 5px 5px 5px #000000;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    margin: 0 150px;
}
.line{
    display: flex;
    width: 100%;
}
.line>a{
    display: block;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    width: 25%;
    height: 40px;
    line-height: 40px;
    margin: 15px 5px 0;
    text-decoration: none;
    text-align: center;
    background-color: #5D89B4;
    color: #2C4A69;
    box-shadow: 0 3px 5px #000000;
    transition: 1s;
}
.line>a:hover{
    background-color: #5E5BC2;
    color: #9ECFFF;
}